<nav class="nav">
    <a class="nav-link" href="/index">Main Page</a>
    <a class="nav-link" href="/new-order">New Order</a>
    <a class="nav-link" href="/add-topping">Add Topping</a>
</nav>

<h1>New Order</h1>

<form method="POST" id="new-order-form">
    {{!-- Customer Name --}}
    <label for="customer">Enter customer name:</label>
    <input type="text" name="customer" id="customer">
    {{!-- Pizza size --}}
    <label for="SizeId">Select pizza size:</label>
    <select id="SizeId" name="SizeId">
        {{#each sizes}}
            <option value={{dataValues.id}}>{{dataValues.label}} - ${{dataValues.price}}</option>
        {{/each}}
        {{!-- <option value="1">Small</option>
        <option value="2">Medium</option>
        <option value="3">Large</option>
        <option value="4">X-Large</option> --}}
    </select>

    {{!-- Toppings --}}
    <p>Choose your pizza toppings:</p>
        {{#each toppings}}
            <label for={{dataValues.label}}>{{dataValues.label}}</label>
            <input id={{dataValues.label}} name="toppings" type="checkbox" value={{dataValues.id}}>
        {{/each}}
    {{!-- <label for="cheese">Cheese</label>
    <input id="cheese" name="toppings" type="checkbox" value="1">
    <label for="pepperoni">Pepeperoni</label>
    <input id="pepperoni" name="toppings" type="checkbox" value="2">
    <label for="ham">Ham</label>
    <input id="ham" name="toppings" type="checkbox" value="3">
    <label for="mushrooms">Mushrooms</label>
    <input id="mushrooms" name="toppings" type="checkbox" value="4">
    <label for="pineapple">Pineapple</label>
    <input id="pinneaple" name="toppings" type="checkbox" value="5">  --}}

    {{!-- Submit button --}}
    <br><br>
    <input type="submit" value="Send Order">
</form>

<script type="text/javascript">
    $("#new-order-form").on("submit", function(event){
        event.preventDefault();

        const customer = $.trim($("#customer").val());
        const SizeId = $("#SizeId").val();
        const toppings = [];

        $("input:checkbox[name=toppings]:checked").each(function(){
            toppings.push($(this).val());
        });

        const newOrder = {
            customer,
            SizeId,
            toppings,
            StatusId: 1
        };

        console.log(newOrder);

        $.ajax("/api/orders-new", {
            type: "POST",
            data: newOrder 
        }).then(function(){
            console.log('New order added!');

            location.reload();
        })
    })
</script>